absl-py==1.3.0
AliProductExtractor==0.11
amqp==5.0.5
aniso8601==9.0.1
annotated-types==0.6.0
anyio==4.3.0
appdirs==1.4.4
apturl==0.5.2
asgiref==3.5.2
asterisk==0.0.8
asterisk-ami==0.1.6
astunparse==1.6.3
attrs==24.2.0
autobahn==24.4.2
Automat==20.2.0
Babel==2.9.1
backcall==0.2.0
bcrypt==3.2.0
beautifulsoup4==4.9.3
beniget==0.4.1
billiard==3.6.3.0
blinker==1.4
boto3==1.18.28
botocore==1.21.28
Brlapi==0.8.3
Brotli==1.0.9
bs4==0.0.2
cachetools==4.2.2
capslock==1.0.5
Cerberus==1.3.4
certifi==2024.7.4
cffi==1.15.1
channels==4.0.0
chardet==4.0.0
charset-normalizer==2.1.1
click==8.1.7
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.1.6
colorama==0.4.6
coloredlogs==15.0.1
command-not-found==0.3
constantly==15.1.0
coreapi==2.3.3
coreschema==0.0.4
cryptography==43.0.1
cssselect==1.2.0
cupshelpers==1.0
cycler==0.10.0
daphne==4.1.2
dash==2.7.1
dash-bootstrap-components==1.2.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dbus-python==1.2.18
decorator==4.4.2
defer==1.0.6
defusedxml==0.7.1
Deprecated==1.2.12
dill==0.3.6
disposable-email-domains==0.0.94
distlib==0.3.6
distro==1.7.0
distro-info==1.1+ubuntu0.2
dj-database-url==1.2.0
dj-paddle==0.1.2
Django==3.2
django-allauth==0.42.0
django-braces==1.14.0
django-celery-beat==2.1.0
django-celery-results==2.0.1
django-ckeditor==6.7.1
django-ckeditor-5==0.2.15
django-cors-headers==3.6.0
django-crispy-forms==1.14.0
django-debug-toolbar==3.4.0
django-extensions==3.2.3
django-filter==22.1
django-js-asset==2.2.0
django-oauth-toolkit==1.5.0
django-plotly-dash==2.1.3
django-rest-auth==0.9.5
django-rest-framework-social-oauth2==1.1.0
django-storages==1.11.1
django-timezone-field==4.2.1
djangorestframework==3.11.2
dm-tree==0.1.8
dnspython==2.1.0
dpd-components==0.1.0
drf-extensions @ git+https://github.com/chibisov/drf-extensions.git@9df8f8962e25ef6382cb93f94e3318176e89c8ba
drf-yasg==1.20.0
duplicity==0.8.21
et-xmlfile==1.1.0
etils==0.9.0
exceptiongroup==1.2.0
fake-useragent==1.5.1
Faker==6.6.2
fasteners==0.14.1
filelock==3.0.12
Flask==2.2.2
flatbuffers==22.12.6
flower==1.0.0
fonttools==4.29.1
frozendict==2.3.4
fs==2.4.12
future==0.18.2
gast==0.4.0
google==2.0.2
google-ads==25.1.0
google-ads-stubs==15.0.0
google-api-core==2.23.0
google-api-python-client==2.104.0
google-auth==2.23.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==1.2.1
google-auth-stubs==0.2.0
google-pasta==0.2.0
googleads==39.0.0
googleapis-common-protos==1.57.0
googleapis-common-protos-stubs==2.2.0
googlemaps==4.7.3
graphene==3.2.2
graphene-django==3.0.0
graphql-core==3.2.3
graphql-relay==3.2.0
grpc-stubs==1.53.0.3
grpcio==1.68.0
grpcio-status==1.62.3
h11==0.14.0
h2==4.1.0
h5py==3.7.0
hpack==4.0.0
html5lib==1.1
httpcore==1.0.4
httplib2==0.19.1
httpx==0.27.0
humanfriendly==10.0
humanize==4.9.0
hyperframe==6.0.0
hyperlink==21.0.0
idna==2.10
importlib-metadata==4.6.4
importlib-resources==5.10.1
incremental==24.7.2
inflection==0.5.1
instaloader==2.1
ipython==7.31.1
isodate==0.6.1
itemadapter==0.4.0
itemloaders==1.0.4
iteration-utilities==0.11.0
itsdangerous==2.1.2
itypes==1.2.0
jedi==0.18.0
jeepney==0.7.1
jellyfish==0.6.1
jesth==0.0.5
Jinja2==3.0.1
jmespath==0.10.0
jsonschema==4.17.3
jwcrypto==0.9.1
keras==2.11.0
keyring==23.5.0
kiwisolver==1.3.1
kombu==5.0.2
kwconfig==1.1.7
language-selector==0.1
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
libclang==14.0.6
lockfile==0.12.2
log2d==0.0.18
louis==3.20.0
lru-cache==0.2.3
lxml==4.6.3
lz4==3.1.3+dfsg
macaroonbakery==1.3.1
Mako==1.1.3
Markdown==3.4.1
MarkupSafe==3.0.2
matplotlib==3.3.4
matplotlib-inline==0.1.3
monotonic==1.6
more-itertools==8.10.0
mpmath==0.0.0
multitasking==0.0.11
netifaces==0.11.0
numpy==1.23.5
oauth2client==4.1.3
oauthlib==3.1.1
olefile==0.46
openai==1.13.3
openapi==1.1.0
openpyxl==3.0.10
opt-einsum==3.3.0
packaging==21.0
paddle-client==1.0.0
pandas==1.2.4
pandas-stubs==1.2.0.62
paramiko==2.9.3
parse==1.20.2
parsel==1.6.0
parso==0.8.1
pdfminer.six==20231228
pdfplumber==0.11.4
pexpect==4.8.0
phpserialize==1.3
pickleshare==0.7.5
pillow==11.0.0
pip-review==1.3.0
pipenv==2022.11.30
platformdirs==2.6.0
plotly==5.11.0
ply==3.11
project_runpy==1.1.2
prometheus_client==0.20.0
promise==2.3
prompt-toolkit==3.0.16
Protego==0.2.1
proto-plus==1.22.3
proto-plus-stubs==0.2.0
protobuf==4.25.5
proxy.py==2.4.3
psutil==5.9.4
psycopg2-binary==2.9.5
ptyprocess==0.7.0
publicsuffixlist==0.10.0.20230814
py3-validate-email==1.0.4
py3dns==3.2.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.20.1
pycparser==2.20
pycryptodome==3.10.1
pycups==2.0.1
pydantic==2.6.3
pydantic_core==2.16.3
PyDispatcher==2.0.5
pyee==11.1.0
Pygments==2.11.2
PyGObject==3.42.1
PyHamcrest==2.0.2
PyJWT==2.3.0
pymacaroons==0.13.0
PyNaCl==1.5.0
pyOpenSSL==24.2.1
pyparsing==2.4.7
pypdfium2==4.30.0
pyppeteer==2.0.0
pyquery==2.0.0
pyRFC3339==1.1
pyrsistent==0.19.2
python-apt==2.4.0+ubuntu3
python-crontab==2.5.1
python-dateutil==2.8.1
python-debian==0.1.43+ubuntu1.1
python-dotenv==0.15.0
python-version==0.0.2
python3-openid==3.2.0
pythran==0.10.0
pytrends==4.9.2
pytz==2021.1
pyxdg==0.27
PyYAML==6.0.1
queuelib==1.6.1
raven==6.10.0
reportlab==3.6.8
requests==2.25.1
requests-file==1.5.1
requests-html==0.10.0
requests-oauthlib==1.3.0
requests-toolbelt==1.0.0
rsa==4.7.2
ruamel.yaml==0.17.10
ruamel.yaml.clib==0.2.6
s3transfer==0.5.0
schedule==1.1.0
scipy==1.8.0
scraper==0.1.0
Scrapy==2.5.1
screen-resolution-extra==0.0.0
search-google==1.2.1
SecretStorage==3.3.1
selenium==4.0.0a1
Sendinblue==2.0.5.1
service-identity==21.1.0
sh==1.14.3
shared==0.0.24
sib-api-v3-sdk==7.5.0
six==1.15.0
sniffio==1.3.1
social-auth-app-django==4.0.0
social-auth-core==4.1.0
some-package==0.1
sortedcontainers==2.4.0
soupsieve==2.2
sqlparse==0.4.1
sympy==1.9
systemd-python==234
tenacity==8.1.0
tensorboard==2.11.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.11.0
tensorflow-datasets==4.8.0
tensorflow-estimator==2.11.0
tensorflow-hub==0.12.0
tensorflow-io-gcs-filesystem==0.29.0
tensorflow-metadata==1.12.0
termcolor==2.1.1
text-unidecode==1.3
tldextract==3.1.0
toml==0.10.2
tomli==2.0.2
tornado==6.4
tqdm==4.64.1
traitlets==5.1.1
twilio==7.17.0
Twisted==24.7.0
txaio==23.1.1
types-protobuf==4.24.0.4
types-requests==2.31.0.6
types-urllib3==1.26.25.14
typing_extensions==4.12.2
tzdata==2022.6
ubuntu-drivers-common==0.0.0
ubuntu-pro-client==8001
ufoLib2==0.13.1
ufw==0.36.1
unattended-upgrades==0.1
unicodedata2==14.0.0
uritemplate==3.0.1
urllib3==1.26.12
urlopen==1.0.0
us==2.0.2
usb-creator==0.3.7
validate-email==1.3
validator==0.7.1
vine==5.0.0
virtualenv==20.17.1
virtualenv-clone==0.5.7
w3lib==1.22.0
wadllib==1.3.6
wcwidth==0.2.5
webdriver-manager==3.8.5
webencodings==0.5.1
websockets==10.4
Werkzeug==2.2.2
whitenoise==6.2.0
Wikidata==0.7.0
wrapt==1.12.1
xdg==5
xkit==0.0.0
xmltodict==0.13.0
yfinance==0.2.3
zeep==4.2.1
zipp==1.0.0
zope.interface==5.4.0
